#dashboard{
  .banner {
    background-size: cover;

    padding: 150px 0;
    box-shadow: 3px 3px 3px rgba(0,0,0,1);

    h1 {
      margin: 5px;
      font-family: 'Bebas Neue', sans-serif;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 78px;
    }

    p {
      margin: 5px;
      font-size: 20px;
      color: white;
      opacity: .7;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }

    .footer {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      padding: 0px 50px;
      color: rgba(0,0,0,0.3);

      .edit-btn{
        text-decoration: none;
        color: white;
        font-size: 17px;
        border: 1px white solid;
        padding: 10px 30px;
        margin: 0px 15px;
        &:hover {
          background-color: #1DB954;
        }
      }


    }

    .dashboard-link{
      text-decoration: none;
    }

  }

  .form{
    margin: 30px 0px;
    margin-right: 17px;
    margin-left: 17px;
    padding: 10px;
    height: 450px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border-radius: 12px;

    background-color:  rgba(0,0,0,0.2);
  }

  .analytics{
    margin: 30px 0px;
    margin-right: 17px;
    margin-left: 17px;
    padding: 10px;
    height: 450px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border-radius: 12px;

    background-color:  rgba(0,0,0,0.2);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;

    .select{
      margin: 25px 0px;
      background-color: transparent;
      text-align: center;

      i{
        color: #1DB954;
        font-size: 50px;
      }

      h3{
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 38px;
      }

      p{
        color: white;
        font-size: bold;
        font-size: 24px;
      }

      img{
        height: 100px;
        width: 100px;
      }

      .card-song {
        background-size: cover;
        background-position: center;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
      }



    }

  }

  h2{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin: 30px 0px;
    font-size: 50px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .grids{
    overflow: scroll;
    margin: 30px 0px;
    margin-right: 17px;
    margin-left: 17px;
    height: 400px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border-radius: 12px;

    background-color:  rgba(0,0,0,0.2);

    hr{
      color: white;
    }

    ul{
      list-style-type: none;

     .card-playlist {
        overflow: hidden;
        height: 75px;
        margin: 15px 0px;
        color: white;
        display: flex;
        align-items: center;
        text-decoration: none;
      img {
        height: 100%;
        width: 75px;
        object-fit: cover;
      }
      h2{
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        margin: 25px;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      }&:hover {
        background: rgba(0,0,0,0.2);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
      }

        .card-playlist-infos{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 16px;

          .card-btn{
            text-decoration: none;
            color: white;
            font-size: 7px;
            border: 1px white solid;
            &:hover {
              background-color: #1DB954;
            }
          }
        }
      }

      .dropdown{
        i{
          color: white;
          margin: 0px 20px;
          font-size: 38px;
        }
      }

      a{
        text-decoration: none;
      }

    }


  }
}

.grids::-webkit-scrollbar {
  width: 12px;
  height: 45px;
}

.grids::-webkit-scrollbar-track {
  background: transparent;
}

.grids::-webkit-scrollbar-thumb {
  background-color: rgb(28, 27, 27);
  border-radius: 15px;
}
