#feed{

  .header{
    margin: 45px 0px;
    h1{
      font-family: 'Bebas Neue', sans-serif;
      color: white;
      font-size: 40px;
    }

    p{
      color: white;
      font-size: 25px;
    }
  }
}
