// Import page-specific CSS files here.
@import "home";
@import "users";
@import "register";
@import "user_show";
@import "song_show";
@import "playlist_show";
@import "playlists";
@import "dashboard";
@import "song_edit";

body{
  background-color: #121212;
}
body::-webkit-scrollbar {
  width: 12px;
  height: 45px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(28, 27, 27);
  border-radius: 15px;
}


audio::-webkit-media-controls-panel {
  background-color: #191414;
}

audio::-webkit-media-controls-mute-button{
  background-color: #1DB954;
  border-radius: 50%;
}

audio::-webkit-media-controls-mute-button:hover {
  background-color: white;
}

audio::-webkit-media-controls-play-button {
  background-color: #1DB954;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: white;
}

audio::-webkit-media-controls-current-time-display {
  color: white;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #1DB954;
}

audio::-webkit-media-controls-volume-slider {
  background-color: white;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}
