#playlists{
  .header{
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    h1{
      color: white;
      font-size: 45px;
      font-family: 'Bebas Neue', sans-serif;
      text-shadow: 5px 5px 3px rgba(0,0,0,0.2);
    }

    hr{
      color: white;

    }

  }

  .body{

    margin-top: 30px;

    overflow: scroll;
    height: 550px;

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      a{
        text-decoration: none;
      }

      .card-playlist {
        overflow: hidden;
        height: 200px;
        width: 550px;
        color: white;
        background: rgba(0,0,0,0.2);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        img {
          height: 100%;
          width: 200px;
          object-fit: cover;
        }
        h2 {
          font-size: 40px;
          font-family: 'Bebas Neue', sans-serif;
          margin: 15px;
        }
        p {
          font-size: 17px;
          line-height: 1.4;
          opacity: .7;
          margin-left: 15px;
          margin-bottom: 0;
          margin-top: 8px;
        }

        &:hover {
          box-shadow: 0 0 15px transparent;
        }
      }

    }
  }
}

.body::-webkit-scrollbar {
  width: 12px;
  height: 45px;
}

.body::-webkit-scrollbar-track {
  background: transparent;
}

.body::-webkit-scrollbar-thumb {
  background-color: rgb(28, 27, 27);
  border-radius: 15px;
}
