#user-show{
  .banner {
    background-size: cover;

    padding: 150px 0;
    box-shadow: 3px 3px 3px rgba(0,0,0,1);

    h1 {
      margin: 5px;
      font-family: 'Bebas Neue', sans-serif;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 78px;
    }

    p {
      font-size: 20px;
      color: white;
      opacity: .7;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }

    .follow-btn{
      text-decoration: none;
      color: white;
      font-size: 17px;
      border: 1px white solid;
      padding: 10px 30px;
      margin: 0px 15px;
      &:hover {
        background-color: #1DB954;
      }
    }

  }

  .info-card{
    margin: 15px 0px;
    display: flex;
    align-items: center;

    img{
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
      border: 5px white solid;
    }
    h2{
      margin: 0px 25px;
      color: white;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 50px;
    }
  }

  .grids{
    margin: 75px 0px;
    margin-right: 17px;
    margin-left: 17px;
    height: 400px;
    width: 350px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border-radius: 12px;

    background-color:  rgba(0,0,0,0.2);

    hr{
      color: white;
    }

    h2{
      color: white;
      font-family: 'Bebas Neue', sans-serif;
      margin: 9px;
      margin-bottom: 25px;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }

    ul{
      list-style-type: none;

     .card-playlist {
      overflow: hidden;
      height: 75px;
      color: white;
      display: flex;
      align-items: center;
      img {
        height: 100%;
        width: 75px;
        object-fit: cover;
      }
      h2{
        color: white;
        font-family: 'Bebas Neue', sans-serif;
        margin: 25px;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      }&:hover {
        background: rgba(0,0,0,0.2);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
      }
    }
    }


  }

  .header{
    h2{
      color: white;
      font-family: 'Bebas Neue', sans-serif;
      margin-bottom: 25px;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }
  }

  .discography{
    overflow: scroll;
    margin: 40px 0px;
    width: 100%;
    height: 550px;
    padding: 25px;
    background-color:rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    border-radius: 12px;

      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 50px 50px;
        grid-gap: 16px;
        align-items: center;

        .card-artists{
          text-align: center;
          background-size: cover;
          background-position: center;
          height: 200px;
          width: 200px;
          overflow: hidden;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 24px;
          font-weight: bold;
          text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
          border-radius: 5px;
          box-shadow: 0 0 15px rgba(0,0,0,0.2);

          .go-corner {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 32px;
            height: 32px;
            overflow: hidden;
            top: 0;
            right: 0;
            background-color: transparent;
            border-radius: 0 4px 0 32px;
          }

          .go-arrow {
            margin-top: -4px;
            margin-right: -4px;
            color: transparent;
            font-family: courier, sans;
          }

          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -16px;
            right: -16px;
            background: #1DB954;
            height: 32px;
            width: 32px;
            border-radius: 32px;
            transform: scale(1);
            transform-origin: 50% 50%;
            transition: transform 0.25s ease-out;
          }

          &:hover:before {
            transform: scale(21);
          }
        }
      }

  }

}

.discography::-webkit-scrollbar {
  width: 12px;
  height: 45px;
}

.discography::-webkit-scrollbar-track {
  background: transparent;
}

.discography::-webkit-scrollbar-thumb {
  background-color: rgb(28, 27, 27);
  border-radius: 15px;
}
