.navbar-lewagon {
  justify-content: space-between;
  background: #010101;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.navbar-lewagon .navbar-brand img {
  width: 40px;
}

button{
  background-color: transparent;
}

.navbar-btn{
  color: white;
  border: 1px white solid;
  border-radius: 25px;
  padding: 5px 20px;
  &:hover {
    color:black;
    background-color: whitesmoke;
  }
}
