.search-bar{
  margin: 5px 80px;
  margin-top: 0px;
  padding: 12px;
  h2{
    color: white;
    font-family: 'Bebas Neue', sans-serif;

    font-size: 35px;
  }

  .bar{
    i{
      color: white;
      font-size: 30px;
      margin-right: 5px;
      padding: 12px;
    }

    input{
      width: 640px;
      height: 40px;
    }
  }
}
