#sidebar{
  .offcanvas-header{
    background-color: #121212;
    border-radius: 15px;
    margin: 5px;
    padding: 7px;

    hr{
      color: white;
    }

    .nav-item{
      a{
        color: white;
        font-size: 24px;
      }

    }
    li:hover{
      background-color: #121212;
    }

  }

  .offcanvas-libray{
    margin: 5px;
    padding: 7px;
    background-color: #121212;
    border-radius: 15px;

    h2{
      margin: 7px;
      padding: 7px;
      color: white;
      font-size: 24px;
    }
  }

  .offcanvas-body{
    background-color: #121212;
    height: 450px;
    border-radius: 15px;
    margin: 5px;
    padding: 7px;
    overflow: scroll;


    h2{
      margin: 7px;
      padding: 7px;
      color: white;
      font-size: 24px;
    }

    .empty-state{
      text-align: center;
      margin: 150px 0px;
      font-size: 20px;

      .icon{
        font-size: 55px;
        margin-bottom: 15px;
      }

      .side-btn{
        text-decoration: none;
        color: white;
        border: 1px white solid;
        border-radius: 25px;
        padding: 5px 20px;
        &:hover {
          color:black;
          background-color: whitesmoke;
        }
      }


    }

    .card-playlist {
      overflow: hidden;
      height: 70px;
      color: white;
      display: flex;
      align-items: center;
      margin: 7px 7px;
      img {
        height: 100%;
        width: 70px;
        object-fit: cover;
        border-radius: 12px;
      }
      h2 {
        font-size: 32px;
        font-family: 'Bebas Neue', sans-serif;
        margin: 25px;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      }&:hover {
        background: rgba(0,0,0,0.2);
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
      }
    }


  }
}


.offcanvas-body::-webkit-scrollbar {
  width: 12px;
  height: 45px;
}

.offcanvas-body::-webkit-scrollbar-track {
  background: transparent;
}

.offcanvas-body::-webkit-scrollbar-thumb {
  background-color: rgb(28, 27, 27);
  border-radius: 15px;
}
